// Fade

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Slide-left

.slideleft-leave-active,
.slideleft-enter-active {
  transition: transform 0.9s ease-in-out;
}

.slideleft-enter {
  transform: translate3d(-100%, 0, 0);
}

.slideleft-leave-to {
  transform: translate3d(100%, 0, 0);
}

// Slide-left-back

.slideleftback-leave-active,
.slideleftback-enter-active {
  transition: transform 0.9s ease-in-out;
}

.slideleftback-enter {
  transform: translate3d(100%, 0, 0);
}

.slideleftback-leave-to {
  transform: translate3d(-100%, 0, 0);
}

// Skeleton-loading

@keyframes skeleton-loading {
  0% {
    background-color: $skeleton-0;
  }

  100% {
    background-color: $skeleton-100;
  }
}

// Toasts (notifications)

.toast-enter-active {
  opacity: 0;
  transform: translateY(-100%);
}

.toast-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.toast-leave {
  opacity: 1;
  transition: all 0.7s ease-out;
}

.toast-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}
