.lpi-button {
    display: inline-flex;
    align-items: center;
    font-size: $font-size-m;
    font-weight: 700; // bold
    line-height: normal;
    text-align: center;
    padding: pxToRem(11px) $space-m; // 11px + 1px border
    border-radius: $border-radius-50;
    cursor: pointer;

    &.primary {
        color: $white;
        background: $primary-dark;
        border: $border-width-s solid $primary-dark;

        &.large {
            padding: pxToRem(15px) $space-m; // 15px + 1px border
        }

        &:hover {
            color: $almost-black;
            background: $green;

            svg {
                fill: $almost-black;
            }
        }

        &:active {
            color: $almost-black;
            background: $aquamarine;

            svg {
                fill: $almost-black;
            }
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 $border-width-l $green;
        }

        svg {
            fill: $white;
        }
    }

    &.secondary {
        color: $primary-dark;
        background: $white;
        border: $border-width-s solid $primary-dark;

        &.large {
            padding: pxToRem(15px) $space-m; // 15px + 1px border

            > svg {
                width: pxToRem(24px);
                height: pxToRem(24px);
            }
        }

        &:hover {
            color: $almost-black;
            background: $green;

            svg {
                fill: $almost-black;
            }
        }

        &:active {
            color: $almost-black;
            background: $aquamarine;

            svg {
                fill: $almost-black;
            }
        }

        &:focus {
            box-shadow: 0 0 0 $border-width-l $green;
            outline: none;
        }

        svg {
            fill: $primary-dark;
        }
    }

    &.link {
        color: $primary-dark;
        background: transparent;
        border: none;

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            box-shadow: 0 0 0 $border-width-l $green;
            outline: $border-width-l $green;
        }

        svg {
            fill: $primary-dark;
        }
    }

    > svg {
        width: pxToRem(18px);
        height: pxToRem(20px);
    }
}
