@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

.vue2leaflet-map {
    cursor: crosshair !important;

    &.leaflet-touch {
        .leaflet-control-container {
            .leaflet-bar {
                &.leaflet-control-zoom {
                    border-radius: 40px;
                    border: 5px solid rgb(0 0 0 / 30%);

                    a {
                        background: darkgrey;
                        color: $white;

                        &:hover {
                            background: #00c172;
                        }
                    }

                    .leaflet-control-zoom-in {
                        border-radius: 40px 40px 0 0;
                        border-bottom-color: darkgrey;
                    }

                    .leaflet-control-zoom-out {
                        border-radius: 0 0 40px 40px;
                    }
                }
            }
        }
    }
}

.leaflet-popup {
    margin-bottom: 40px;

    .leaflet-popup-content-wrapper {
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    .leaflet-popup-content {
        margin: 0;
        overflow: hidden;
        border: $border-width-l solid $primary-dark;
        border-radius: $border-radius-m;
        box-sizing: border-box;

        p {
            margin: 0;
        }
    }

    .leaflet-popup-close-button,
    .leaflet-popup-tip-container {
        display: none;
    }
}
