.legal-page {
  color: $black;

  @media screen and (min-width: $max-tablet) {
    .legal-notices {
      margin-top: calc(90px + $navbar-height);
    }
  }

  p {
    text-align: justify;
  }

  li {
    text-align: justify;
  }

  section {
    border-radius: $border-radius-l;
    background: $primary-lighter;
    padding: $space-l;
    margin-top: $space-xl;
    margin-bottom: $space-xl;

    h2 {
      text-transform: uppercase;
      font-size: $font-size-2xl;
      font-weight: 700;
      margin: $space-xl auto;
    }

    h3 {
      font-size: $font-size-2xl;
      font-weight: 700;
      margin-bottom: $space-m;
    }

    h4 {
      font-size: $font-size-2xl;
      font-weight: 500;
      margin-bottom: $space-s;
    }

    h5 {
      font-size: $font-size-2xl;
      margin-bottom: $space-xs;
    }

    p {
      margin: $space-l 0;
    }

    a {
      color: $black;
    }

    ol {
      margin-left: $space-xl;
      list-style-type: auto;
    }

    ul {
      margin-left: $space-xl;
      list-style-type: disc;
    }

    .underlined {
      font-weight: 400;
      text-decoration: underline;
    }

    span {
      font-weight: 600;
    }
  }

  table,
  th,
  td {
    border: 1px solid black;
  }

  th,
  td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
  }
}
