@use 'variables';

.legal-page {
  color: variables.$black;

  @media screen and (min-width: variables.$max-tablet) {
    .legal-notices {
      margin-top: calc(90px + variables.$navbar-height);
    }
  }

  p {
    text-align: justify;
  }

  li {
    text-align: justify;
  }

  section {
    border-radius: variables.$border-radius-l;
    background: variables.$primary-lighter;
    padding: variables.$space-l;
    margin-top: variables.$space-xl;
    margin-bottom: variables.$space-xl;

    h2 {
      text-transform: uppercase;
      font-size: variables.$font-size-2xl;
      font-weight: 700;
      margin: variables.$space-xl auto;
    }

    h3 {
      font-size: variables.$font-size-2xl;
      font-weight: 700;
      margin-bottom: variables.$space-m;
    }

    h4 {
      font-size: variables.$font-size-2xl;
      font-weight: 500;
      margin-bottom: variables.$space-s;
    }

    h5 {
      font-size: variables.$font-size-2xl;
      margin-bottom: variables.$space-xs;
    }

    p {
      margin: variables.$space-l 0;
    }

    a {
      color: variables.$black;
    }

    ol {
      margin-left: variables.$space-xl;
      list-style-type: auto;
    }

    ul {
      margin-left: variables.$space-xl;
      list-style-type: disc;
    }

    .underlined {
      font-weight: 400;
      text-decoration: underline;
    }

    span {
      font-weight: 600;
    }
  }

  table,
  th,
  td {
    border: 1px solid black;
  }

  th,
  td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
  }

  &.pca,
  &.pssi {
    strong {
      font-weight: 700;
    }

    h4 {
      font-size: variables.$font-size-xl;
    }

    th {
      font-weight: 700;
    }

    th,
    td {
      padding: 5px;
      text-align: unset;
      vertical-align: unset;

      p {
        text-align: unset;
      }
    }
  }

  .last-updated {
    font-size: variables.$font-size-s;
    text-align: right;
    font-style: italic;
    margin-block: variables.$space-l;
  }
}
