@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

.leaflet-popup {
  margin-bottom: 40px;

  .leaflet-popup-content-wrapper {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  .leaflet-popup-content {
    margin: 0;
    box-sizing: border-box;
  }

  .leaflet-popup-close-button,
  .leaflet-popup-tip-container {
    display: none;
  }
}

// MAP POINTER
.map-pointer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .badge {
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $space-m $space-m $space-m $space-2xs;
    height: 34px;
    box-sizing: border-box;
    border: $border-width-m solid $primary-dark;
    border-radius: $border-radius-l;
    cursor: pointer;
    transition:
      height 0.15s ease-in-out,
      width 0.15s ease-in-out;

    &.impact {
      border-color: $location-impact;
    }

    &.team {
      border-color: $location-team;
    }

    &.address {
      border-color: $location-address;
    }

    &__dot {
      width: 20px;
      height: 20px;
      padding: 0.2rem;
      border-radius: 50%;
      margin-right: $space-s;

      &.impact {
        background: $location-impact;
      }

      &.team {
        background: $location-team;
      }

      &.address {
        background: $location-address;
      }
    }

    &__label {
      color: $almost-black;
      font-size: $font-size-xs;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .line {
    width: 3px;
    height: 35px;
    background: $primary-dark;
    position: relative;

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $primary-dark;
      border-radius: 50%;
    }
  }
}

// PROJECT TOOLTIP

.card-tooltip {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  transition: opacity 0.15s ease-in-out;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: flex-start;
    padding: $space-s;

    &--title {
      color: $primary-dark;
      font-weight: 700;
      font-size: $font-size-s;
      line-height: $line-height-tight;
    }

    &--dot {
      width: pxToRem(16px);
      height: pxToRem(16px);
      border-radius: 50%;
      margin-right: $space-s;

      &.impact {
        background: $location-impact;
      }

      &.team {
        background: $location-team;
      }

      &.address {
        background: $location-address;
      }
    }
  }

  &__location {
    padding: $space-s;

    &--title {
      font-weight: 500;
      font-size: $font-size-xl;
      line-height: $line-height-tight;
    }

    &--description {
      font-weight: 400;
      font-size: $font-size-m;
    }
  }

  &__button {
    padding: initial;
    margin-top: $space-m;
  }

  &__image,
  &__image img {
    width: pxToRem(72px);
    flex-basis: pxToRem(72px);
    flex-shrink: 0;
    height: pxToRem(72px);
    background-position: center center;
    background-size: cover;
    border-radius: $border-radius-xs;
    object-fit: cover;
    object-position: 50% 50%;
    margin-right: $space-m;
  }

  &__content {
    flex-basis: 60%;
    padding: $space-s;
    background: $primary-lighter;
    display: flex;
    justify-content: space-between;

    .card-title {
      font-size: $font-size-m;
      font-weight: 700;
      line-height: $line-height-tight;
    }

    .card-purpose {
      font-size: $font-size-s;
      margin: $space-s;
    }
  }

  .icon {
    width: pxToRem(18px);
    height: pxToRem(18px);

    &--close {
      background: $primary-dark;
      fill: $white;
      border-radius: 50%;
    }
  }

  // LpiButton
  .card-tooltip__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-50;
    font-weight: 700;
    font-size: $font-size-m;
    line-height: $line-height-squashed;
    transition: 0.15s all ease-in-out;
    cursor: pointer;
    will-change: transform;
    overflow: hidden;
    border: none;
    background: transparent;
    color: $primary-dark;
    padding: 0 0 0 $space-l;

    svg {
      transition: 0.15s fill ease-in-out;
      fill: $primary-dark;
    }

    .left-icon {
      margin-right: $space-s;
      height: pxToRem(18px);
    }
  }
}

// CLUSTER
.cluster-parent {
  border-radius: 22px;

  .cluster-container {
    height: unset;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -69px;
    width: 100%;
    background-color: white;
    border-radius: 22px;
    gap: 0.4rem;
    padding: 0.2rem 0.1rem;
    transform: translateX(-50%);
    border: $border-width-m solid $primary-dark;

    .cluster-element {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;

      > * {
        margin: auto;
      }

      svg {
        padding: 0.2rem;
        width: 16px;
        height: 16px;
        border-radius: 22px;
      }

      span {
        // padding: .5rem;
        font-weight: bolder;
      }

      &.team svg {
        background-color: $location-team;
      }

      &.impact svg {
        background-color: $location-impact;
      }

      &.address svg {
        background-color: $location-address;
      }

      &:last-child {
        margin-right: 0.4rem;
      }
    }
  }

  .line {
    width: 3px;
    height: 35px;
    background: $primary-dark;
    position: relative;

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $primary-dark;
      border-radius: 50%;
    }
  }
}

body.map-no-scroll {
  overflow: hidden;
}
