@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

// set colors locations
.impact {
  --location-color: var(--location-impact);
}

.team {
  --location-color: var(--location-team);
}

.address {
  --location-color: var(--location-address);
}

.news {
  --location-color: var(--location-news);
}

.event {
  --location-color: var(--location-event);
}

// reset some leaflet css
.leaflet-popup {
  margin-bottom: 40px;

  .leaflet-popup-content-wrapper {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  .leaflet-popup-content {
    margin: 0;
    box-sizing: border-box;
  }

  .leaflet-popup-close-button,
  .leaflet-popup-tip-container {
    display: none;
  }

  .leaflet-popup-content p {
    margin: 0;
  }
}

// cluster icons
.cluster-parent {
  --height-line: 25px;

  border-radius: 22px;

  .cluster-container {
    height: unset;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: calc(((var(--height-line) * 2) - 12px) * -1);
    width: 100%;
    background-color: white;
    border-radius: 22px;
    gap: 0.4rem;
    padding: 0.2rem 0.1rem;
    transform: translateX(-50%);
    border: $border-width-m solid $primary-dark;

    .cluster-element {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;

      > * {
        margin: auto;
      }

      svg {
        padding: 0.2rem;
        width: 16px;
        height: 16px;
        border-radius: 22px;
      }

      span {
        font-weight: bolder;
      }

      & svg {
        background-color: var(--location-color);
      }

      &:last-child {
        margin-right: 0.4rem;
      }
    }
  }
}

.marker-line {
  width: 3px;
  height: var(--height-line);
  background: $primary-dark;
  position: relative;

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $primary-dark;
    border-radius: 50%;
  }
}

body.map-no-scroll {
  overflow: hidden;
}

.map-recap {
  height: 400px;
  overflow: hidden;
}
