@use 'variables';

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    border: solid 3px transparent;
    border-radius: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$primary-dark;
    border-radius: 9px;
  }
}

// shadow effect on hover

$shadow-hover-duration: 0.3s;
$shadow-hover-easing: cubic-bezier(0.155, 1.105, 0.295, 1.12);
$shadow-hover-def-1: 0 5px 10px rgb(0 0 0 / 12%);
$shadow-hover-def-2: 0 4px 8px rgb(0 0 0 / 6%);
$shadow-hover-scale: scale(1.01);

%shadow-box-transform {
  transform: translateZ(0) $shadow-hover-scale !important;
  box-shadow: $shadow-hover-def-1, $shadow-hover-def-2;
}

%shadow-box-transition {
  transform: translateZ(0);
  transition:
    $shadow-hover-duration transform $shadow-hover-easing,
    $shadow-hover-duration box-shadow,
    $shadow-hover-duration -webkit-transform $shadow-hover-easing;
}

.shadow-box-transition {
  @extend %shadow-box-transition;
}

.shadow-box-transform {
  @extend %shadow-box-transform;
}

.shadow-box {
  @extend %shadow-box-transition;

  &:hover {
    @extend %shadow-box-transform;
  }
}

.shadow-drop {
  transition:
    translateZ(0),
    $shadow-hover-duration transform $shadow-hover-easing,
    filter $shadow-hover-duration $shadow-hover-easing,
    text-shadow $shadow-hover-duration $shadow-hover-easing;

  &:hover {
    transform: translateZ(0) $shadow-hover-scale;
    filter: drop-shadow($shadow-hover-def-1) drop-shadow($shadow-hover-def-2);
    text-shadow: $shadow-hover-def-1, $shadow-hover-def-2;
  }
}

.shadowed-box {
  box-shadow: $shadow-hover-def-1, $shadow-hover-def-2;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.titlebar,
.name,
.button,
.rightbutton,
.date,
.seemore,
.cat,
.tag,
.status,
.projecttag,
.maintag,
.catbox,
.selectedtag,
.tip,
.switchlabel,
.sectiontitle,
.label,
.toplabel,
.boxlabl,
.peopleline,
.bannertitle,
.dessummary,
.bannersubtitle {
  font-weight: 700;
}

input {
  box-sizing: border-box;
}

.form {
  padding-bottom: variables.$space-l;

  .title {
    font-size: variables.$font-size-m;
    color: variables.$primary-dark;
    font-weight: bold;
    margin: 0 0 variables.$space-l;
  }

  .description {
    display: block;
    margin-bottom: variables.$space-m;
    font-size: variables.$font-size-xs;
  }

  .image-input-ctn {
    margin: variables.$space-m auto 0;
  }

  > *:not(:first-of-type) {
    margin-top: variables.$space-l;
  }

  .error-description {
    color: variables.$red;
    margin-top: variables.$space-s;
    font-size: variables.$font-size-s;
  }
}

// global
body[class*='has-open-drawer-'],
body[class*='has-open-modal-'] {
  // prevent scrolling behind drawers
  overflow: hidden;
}

.narrow-body {
  width: 100%;
  max-width: variables.pxtorem(1200px);
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (min-width: variables.$max-desktop) {
    max-width: variables.pxtorem(1280px);
  }
}

.narrow-content {
  width: 100%;
  max-width: variables.pxtorem(800px);
  margin: 0 auto;
  box-sizing: border-box;
}

.page-section-full,
.page-section-extra-wide,
.page-section-wide,
.page-section-medium,
.page-section-narrow {
  padding-left: variables.$space-m;
  padding-right: variables.$space-m;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
}

.page-section-full {
  width: 100%;
}

.page-section-extra-wide {
  width: variables.pxtorem(1400px);
}

.page-section-wide {
  width: variables.pxtorem(1200px);
}

.page-section-medium {
  width: variables.pxtorem(1024px);
}

.page-section-narrow {
  width: variables.pxtorem(820px);
}

.page-title {
  text-align: center;
  font-weight: 700;
  font-size: variables.$font-size-5xl;
  line-height: variables.$line-height-tight;
  color: variables.$black;
  width: 100%;
  margin-bottom: variables.$space-m;
}

.page-top {
  margin-top: calc(variables.$navbar-height + variables.$space-xl);

  @media screen and (min-width: variables.$min-tablet) {
    margin-top: calc(variables.$navbar-height + variables.$space-2xl);
  }
}

.divider {
  width: 100%;
  height: 0.2rem;
  background-color: variables.$mid-gray;
  opacity: 0.4;
}

.list-divider > *:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1.5px;
  opacity: 0.7;
  z-index: 0;
  background-color: #d4d4d4;
}

.list-margin > *:not(:last-child)::after {
  margin: 1rem 0;
}
