// LAYOUT
$navbar-height: 50px;

// COLORS
$primary: #00dba7; // Carribean green, Brand01, Success
$primary-lighter: #f0fffb; // Mint cream, Brand01_lighter
$primary-light: #99ffe7; // Aquamarine, Brand01_light
$primary-dark: #1d727c; // Ming, Brand01_dark
$black: #000; // no ?
$almost-black: #101010; // black
$mid-gray: #999; // Grey04
$light-gray: #bdbdbd; // Grey03
$lighter-gray: #d4d4d4; // Grey02
$almost-white: #f1f1f1; // Grey01
$white: #fff; // no ?
$blue: #6cd5ff; // Baby blue, Brand05
$salmon: #ff9473; // Light Salmon, Brand02
$violet: #d6a2ff; // Mauve, Brand04
$yellow: #fc0; // Sunglow, Brand03, Warning
$red: #ff3c00; // Coquelicot, Error
$skeleton-0: hsl(200deg 20% 80%);
$skeleton-100: hsl(200deg 20% 95%);
$modal-background: rgb(6 6 6 / 85%);

// SPACING
$space-unit: 1rem; // 16px
$space-3xs: calc(0.125 * $space-unit); // 2px
$space-2xs: calc(0.25 * $space-unit); // 4px
$space-xs: calc(0.375 * $space-unit); // 6px
$space-s: calc(0.5 * $space-unit); // 8px
$space-m: calc(0.75 * $space-unit); // 12px
$space-l: calc(1.5 * $space-unit); // 24px
$space-xl: calc(2.125 * $space-unit); // 34px
$space-42: calc(2.625 * $space-unit); // 42px
$space-2xl: calc(3 * $space-unit); // 48px
$space-3xl: calc(6.25 * $space-unit); // 100px

// LAYOUT-SIZE
$layout-size-2xs: 0.625rem; // 10px
$layout-size-xs: 0.75rem; // 12px
$layout-size-s: 0.875rem; // 14px
$layout-size-m: 1rem; // 16px
$layout-size-l: 1.25rem; // 20px
$layout-size-xl: 1.375rem; // 22px
$layout-size-2xl: 1.5rem; // 24px
$layout-size-3xl: 2.125rem; // 34px
$layout-size-4xl: 2.1875rem; // 35px
$layout-size-5xl: 2.625rem; // 42px
$layout-size-6xl: 2.8125rem; // 45px
$layout-size-7xl: 3.75rem; // 60px
$layout-size-8xl: 5.3125em; // 85px

// FONT-SIZE
$font-size-2xs: calc(var(--font-base-scale, 1) * $layout-size-2xs); // 10px
$font-size-xs: calc(var(--font-base-scale, 1) * $layout-size-xs); // 12px
$font-size-s: calc(var(--font-base-scale, 1) * $layout-size-s); // 14px
$font-size-m: calc(var(--font-base-scale, 1) * $layout-size-m); // 16px
$font-size-l: calc(var(--font-base-scale, 1) * $layout-size-l); // 20px
$font-size-xl: calc(var(--font-base-scale, 1) * $layout-size-xl); // 22px
$font-size-2xl: calc(var(--font-base-scale, 1) * $layout-size-2xl); // 24px
$font-size-3xl: calc(var(--font-base-scale, 1) * $layout-size-3xl); // 34px
$font-size-4xl: calc(var(--font-base-scale, 1) * $layout-size-4xl); // 35px
$font-size-5xl: calc(var(--font-base-scale, 1) * $layout-size-5xl); // 42px

// LINE-HEIGHT
$line-height-normal: 1.5;
$line-height-tight: 1.2;
$line-height-compact: 1.1;
$line-height-squashed: 1;

// BORDER-RADIUS
$border-radius-xs: 4px;
$border-radius-s: 6px;
$border-radius-8: 8px;
$border-radius-m: 12px;
$border-radius-17: 17px;
$border-radius-l: 21px;
$border-radius-24: 24px;
$border-radius-30: 30px;
$border-radius-50: 50px;

// BORDER-WIDTH
$border-width-s: 1px;
$border-width-m: 2px;
$border-width-l: 3px;

// PX => REM
@function pxToRem($size) {
  @return calc($size / 16px * 1rem);
}

// BREAKPOINT
$max-desktop: 1824px;
$min-desktop: 1200px;
$max-tablet: 1024px;
$med-tablet: 980px;
$min-tablet: 768px;
$med-mobile: 600px;
$max-mobile: 414px;
$min-mobile: 320px;

// Z-INDEX
$zindex-fixed: 1030;
$zindex-modal: 1050;
$zindex-navbar: 1080;
$zindex-drawer: 1080;
$zindex-modal-backdrop: 3000;
$zindex-toast: 4000;

// CARDS
$card_width: pxToRem(184px);
$card_height: pxToRem(260px);

:root {
  --primary: #{$primary};
  --primary-lighter: #{$primary-lighter};
  --primary-light: #{$primary-light};
  --primary-dark: #{$primary-dark};
  --black: #{$black};
  --almost-black: #{$almost-black};
  --mid-gray: #{$mid-gray};
  --light-gray: #{$light-gray};
  --lighter-gray: #{$lighter-gray};
  --almost-white: #{$almost-white};
  --white: #{$white};
  --blue: #{$blue};
  --salmon: #{$salmon};
  --violet: #{$violet};
  --yellow: #{$yellow};
  --red: #{$red};
  --skeleton-0: #{$skeleton-0};
  --skeleton-100: #{$skeleton-100};
  --modal-background: #{$modal-background};
}
